# Guided Project: Winning Jeopardy (Hypothesis Testing)

Jeopardy is a popular TV show in the US where participants answer questions to win money. It's been running for a few decades, and is a major force in popular culture. If you need help at any point, you can consult our solution notebook here.

Let's say you want to compete on Jeopardy, and you're looking for any edge you can get to win. In this project, I will work with a dataset of Jeopardy questions to figure out some patterns in the questions that could help you win.

In [1]:
import pandas as pd
import numpy as np
import re
from scipy.stats import chisquare

In [2]:
jeopardy = pd.read_json('/Users/miesner.jacob/Desktop/DataQuest/JEOPARDY_QUESTIONS.json')

## Data Exploration

In [3]:
jeopardy.head(5)

,air_date,answer,category,question,round,show_number,value
0,2004-12-31,Copernicus,HISTORY,"'For the last 8 years of his life, Galileo was...",Jeopardy!,4680,$200
1,2004-12-31,Jim Thorpe,ESPN's TOP 10 ALL-TIME ATHLETES,'No. 2: 1912 Olympian; football star at Carlis...,Jeopardy!,4680,$200
2,2004-12-31,Arizona,EVERYBODY TALKS ABOUT IT...,'The city of Yuma in this state has a record a...,Jeopardy!,4680,$200
3,2004-12-31,McDonald\'s,THE COMPANY LINE,"'In 1963, live on ""The Art Linkletter Show"", t...",Jeopardy!,4680,$200
4,2004-12-31,John Adams,EPITAPHS & TRIBUTES,"'Signer of the Dec. of Indep., framer of the C...",Jeopardy!,4680,$200

In [4]:
jeopardy.shape

(216930, 7)

In [5]:
jeopardy.columns

Index(['air_date', 'answer', 'category', 'question', 'round', 'show_number',
       'value'],
      dtype='object')

In [6]:
jeopardy.columns = jeopardy.columns.str.strip()

In [7]:
jeopardy

,air_date,answer,category,question,round,show_number,value
0,2004-12-31,Copernicus,HISTORY,"'For the last 8 years of his life, Galileo was...",Jeopardy!,4680,$200
1,2004-12-31,Jim Thorpe,ESPN's TOP 10 ALL-TIME ATHLETES,'No. 2: 1912 Olympian; football star at Carlis...,Jeopardy!,4680,$200
2,2004-12-31,Arizona,EVERYBODY TALKS ABOUT IT...,'The city of Yuma in this state has a record a...,Jeopardy!,4680,$200
3,2004-12-31,McDonald\'s,THE COMPANY LINE,"'In 1963, live on ""The Art Linkletter Show"", t...",Jeopardy!,4680,$200
4,2004-12-31,John Adams,EPITAPHS & TRIBUTES,"'Signer of the Dec. of Indep., framer of the C...",Jeopardy!,4680,$200
5,2004-12-31,the ant,3-LETTER WORDS,"'In the title of an Aesop fable, this insect s...",Jeopardy!,4680,$200
6,2004-12-31,the Appian Way,HISTORY,'Built in 312 B.C. to link Rome & the South of...,Jeopardy!,4680,$400
7,2004-12-31,Michael Jordan,ESPN's TOP 10 ALL-TIME ATHLETES,'No. 8: 30 steals for the Birmingham Barons; 2...,Jeopardy!,4680,$400
8,2004-12-31,Washington,EVERYBODY TALKS ABOUT IT...,"'In the winter of 1971-72, a record 1,122 inch...",Jeopardy!,4680,$400
9,2004-12-31,Crate & Barrel,THE COMPANY LINE,'This housewares store was named for the packa...,Jeopardy!,4680,$400
10,2004-12-31,Jackie Gleason,EPITAPHS & TRIBUTES,"'""And away we go""'",Jeopardy!,4680,$400
11,2004-12-31,the cud,3-LETTER WORDS,'Cows regurgitate this from the first stomach ...,Jeopardy!,4680,$400
12,2004-12-31,Ceylon (or Sri Lanka),HISTORY,'In 1000 Rajaraja I of the Cholas battled to t...,Jeopardy!,4680,$600
13,2004-12-31,Jim Brown,ESPN's TOP 10 ALL-TIME ATHLETES,"'No. 1: Lettered in hoops, football & lacrosse...",Jeopardy!,4680,$600
14,2004-12-31,the UV index,EVERYBODY TALKS ABOUT IT...,"'On June 28, 1994 the nat'l weather service be...",Jeopardy!,4680,$600
15,2004-12-31,Bulova,THE COMPANY LINE,"'This company's Accutron watch, introduced in ...",Jeopardy!,4680,$600
16,2004-12-31,Jesse James,EPITAPHS & TRIBUTES,"'Outlaw: ""Murdered by a traitor and a coward w...",Jeopardy!,4680,$600
17,2004-12-31,imp,3-LETTER WORDS,"'A small demon, or a mischievous child (who mi...",Jeopardy!,4680,$600
18,2004-12-31,the International,HISTORY,'Karl led the first of these Marxist organizat...,Jeopardy!,4680,$800
19,2004-12-31,(Lou) Gehrig,ESPN's TOP 10 ALL-TIME ATHLETES,'No. 10: FB/LB for Columbia U. in the 1920s; M...,Jeopardy!,4680,$800
20,2004-12-31,Morocco,EVERYBODY TALKS ABOUT IT...,'Africa's lowest temperature was 11 degrees be...,Jeopardy!,4680,$800
21,2004-12-31,(Paul) Bonwit,THE COMPANY LINE,'Edward Teller & this man partnered in 1898 to...,Jeopardy!,4680,$800
22,2004-12-31,Hattie McDaniel (for her role in Gone with the...,EPITAPHS & TRIBUTES,"'1939 Oscar winner: ""...you are a credit to yo...",Jeopardy!,4680,"$2,000"
23,2004-12-31,era,3-LETTER WORDS,"'In geologic time one of these, shorter than a...",Jeopardy!,4680,$800
24,2004-12-31,the Congress Party,HISTORY,'This Asian political party was founded in 188...,Jeopardy!,4680,$1000
25,2004-12-31,(Wilt) Chamberlain,ESPN's TOP 10 ALL-TIME ATHLETES,'No. 5: Only center to lead the NBA in assists...,Jeopardy!,4680,$1000
26,2004-12-31,K2,THE COMPANY LINE,"'The Kirschner brothers, Don & Bill, named thi...",Jeopardy!,4680,$1000
27,2004-12-31,Ethan Allen,EPITAPHS & TRIBUTES,"'Revolutionary War hero: ""His spirit is in Ver...",Jeopardy!,4680,$1000
28,2004-12-31,ply,3-LETTER WORDS,"'A single layer of paper, or to perform one's ...",Jeopardy!,4680,$1000
29,2004-12-31,Horton,DR. SEUSS AT THE MULTIPLEX,"'<a href=""http://www.j-archive.com/media/2004-...",Double Jeopardy!,4680,$400
...,...,...,...,...,...,...,...
216900,2006-05-11,Alec Baldwin,OFF-BROADWAY,'This Baldwin brother was extremely entertaini...,Double Jeopardy!,4999,$400
216901,2006-05-11,Samson,RIDDLE ME THIS,'He used the strength of his mind when he prop...,Double Jeopardy!,4999,$400
216902,2006-05-11,the teal,"""T"" BIRDS",'Common species of this duck include blue-wing...,Double Jeopardy!,4999,$400
216903,2006-05-11,Africa,AUTHORS IN THEIR YOUTH,"'As a child, Joseph Conrad pointed to the cent...",Double Jeopardy!,4999,$400
216904,2006-05-11,Ronald Reagan,QUOTATIONS,"'In 1981 he quipped, ""You can tell a lot about...",Double Jeopardy!,4999,$400
216905,2006-05-11,Budapest,WORLD CAPITALS,'It has a museum devoted to composer Zoltan Ko...,Double Jeopardy!,4999,$800
216906,2006-05-11,Amsterdam,OFF-BROADWAY,"'""Red Light Winter"" centers on a love triangle...",Double Jeopardy!,4999,$800
216907,2006-05-11,man,RIDDLE ME THIS,'Sphinx: What animal walks on 4 legs in the mo...,Double Jeopardy!,4999,$800
216908,2006-05-11,a toucan,"""T"" BIRDS","'Toco, the largest species of this colorful bi...",Double Jeopardy!,4999,$800
216909,2006-05-11,Allen Ginsberg,AUTHORS IN THEIR YOUTH,'Poet Gregory Corso went on the beat path afte...,Double Jeopardy!,4999,$800
216910,2006-05-11,Muhammad Ali,QUOTATIONS,"'In his prime this athlete said, It's hard to ...",Double Jeopardy!,4999,$800
216911,2006-05-11,Oslo,WORLD CAPITALS,'It's home to the Holmenkollen ski jump',Double Jeopardy!,4999,$1200
216912,2006-05-11,Siddhartha,OFF-BROADWAY,"'We'd like to ""enlighten"" you about the musica...",Double Jeopardy!,4999,$1200
216913,2006-05-11,(Edward) Elgar,RIDDLE ME THIS,"'He created the musical riddles called the ""En...",Double Jeopardy!,4999,$1200
216914,2006-05-11,a tern,"""T"" BIRDS",'One species of this bird breeds in the Arctic...,Double Jeopardy!,4999,$1200
216915,2006-05-11,(Erle Stanley) Gardner,AUTHORS IN THEIR YOUTH,'In his teens he worked in an assistant D.A.'s...,Double Jeopardy!,4999,$1200
216916,2006-05-11,work,QUOTATIONS,"'Oscar Wilde called this 4-letter word ""the cu...",Double Jeopardy!,4999,"$2,200"
216917,2006-05-11,Georgetown,WORLD CAPITALS,'Guyanese capital named for a Hanoverian monarch',Double Jeopardy!,4999,"$3,400"
216918,2006-05-11,Fanny Hill,OFF-BROADWAY,"'A naughty 18th c. novel originally titled ""Me...",Double Jeopardy!,4999,$1600
216919,2006-05-11,Magritte,RIDDLE ME THIS,"'If this riddling Belgian surrealist painter, ...",Double Jeopardy!,4999,$1600
216920,2006-05-11,thrushes,"""T"" BIRDS",'Nightingales & robins belong to this family o...,Double Jeopardy!,4999,$1600
216921,2006-05-11,Anaïs Nin,AUTHORS IN THEIR YOUTH,'Her hotsy-totsy diaries trace back to one she...,Double Jeopardy!,4999,$1600
216922,2006-05-11,(Margaret) Thatcher,QUOTATIONS,"'A motto of hers was ""in politics, if you want...",Double Jeopardy!,4999,$1600
216923,2006-05-11,Paramaribo,WORLD CAPITALS,'It's on the Suriname River',Double Jeopardy!,4999,$2000
216924,2006-05-11,Stomp,OFF-BROADWAY,'In 2006 the cast of this long-running hit emb...,Double Jeopardy!,4999,$2000
216925,2006-05-11,Turandot,RIDDLE ME THIS,'This Puccini opera turns on the solution to 3...,Double Jeopardy!,4999,$2000
216926,2006-05-11,a titmouse,"""T"" BIRDS",'In North America this term is properly applie...,Double Jeopardy!,4999,$2000
216927,2006-05-11,Clive Barker,AUTHORS IN THEIR YOUTH,"'In Penny Lane, where this ""Hellraiser"" grew u...",Double Jeopardy!,4999,$2000
216928,2006-05-11,Geronimo,QUOTATIONS,"'From Ft. Sill, Okla. he made the plea, Arizon...",Double Jeopardy!,4999,$2000
216929,2006-05-11,Grigori Alexandrovich Potemkin,HISTORIC NAMES,'A silent movie title includes the last name o...,Final Jeopardy!,4999,None

## Data Cleaning

In [8]:
def normalize_string(string):
    string = string.lower()
    string = re.sub("[^A-Za-z0-9\s]","",string)
    return string

In [9]:
jeopardy['clean_question'] = jeopardy['question'].apply(normalize_string)
jeopardy['clean_answer'] = jeopardy['answer'].apply(normalize_string)

In [10]:
def normalize_dollars(string):
    string = re.sub("[^A-Za-z0-9\s]","",str(string))
    try:
        string = int(string)
    except:
        string = 0
    return string

In [11]:
jeopardy['clean_value'] = jeopardy['value'].apply(normalize_dollars)

In [12]:
jeopardy['air_date'] = pd.to_datetime(jeopardy['air_date'])

## Data Analysis

In order to figure out whether to study past questions, study general knowledge, or not study it all, it would be helpful to figure out two things:

* How often the answer is deducible from the question.
* How often new questions are repeats of older questions.

You can answer the second question by seeing how often complex words (> 6 characters) reoccur. You can answer the first question by seeing how many times words in the answer also occur in the question. We'll work on the first question now, and come back to the second.

In [13]:
def answer_question(row):
    split_answer = row['clean_answer'].split(" ")
    split_question = row['clean_question'].split(" ")
    if "the" in split_answer:
        split_answer.remove("the")
    if len(split_answer) == 0:
        return 0
    match_count = 0
    for item in split_answer:
        if item in split_question:
            match_count += 1
    return match_count / len(split_answer)

In [14]:
jeopardy["answer_in_question"] = jeopardy.apply(answer_question, axis=1)

In [15]:
jeopardy['answer_in_question'].mean()

0.05776013093881471

Answer terms in the question

The answer only appears in the question 5.7% of the time. This means that you should probably study and not rely only on deducing the answer from the question.

In [19]:
question_overlap = []
terms_used = set()

jeopardy = jeopardy.sort_values('air_date').reset_index(drop=True)

for i, row in jeopardy.iterrows():
        split_question = row["clean_question"].split(" ")
        split_question = [q for q in split_question if len(q) > 5]
        match_count = 0
        for word in split_question:
            if word in terms_used:
                match_count += 1
        for word in split_question:
            terms_used.add(word)
        if len(split_question) > 0:
            match_count /= len(split_question)
        question_overlap.append(match_count)
jeopardy["question_overlap"] = question_overlap

jeopardy["question_overlap"].mean()

0.8654721654522508

Question overlap

There is about 87% overlap between terms in new questions and terms in old questions. This only looks at a small set of questions and it only looks at single terms longer than five characters long. This means that it is not as significantly as the percentage would seem, but it is worth studying old questions.

Let's say you only want to study questions that pertain to high value questions instead of low value questions. This will help you earn more money when you're on Jeopardy.

You can actually figure out which terms correspond to high-value questions using a chi-squared test. First I will need to narrow down the questions into two categories:

* Low value -- Any row where Value is less than 800.
* High value -- Any row where Value is greater than 800.

In [21]:
def valuefier(row):
    if row['clean_value'] > 800:
        value = 1
    else:
        value = 0
    return value

In [23]:
jeopardy['high_value'] = jeopardy.apply(valuefier, axis = 1)

In [24]:
jeopardy

,air_date,answer,category,question,round,show_number,value,clean_question,clean_answer,clean_value,answer_in_question,question_overlap,high_value
0,1984-09-10,the Jordan,LAKES & RIVERS,'River mentioned most often in the Bible',Jeopardy!,1,$100,river mentioned most often in the bible,the jordan,100,0.000000,0.000000,0
1,1984-09-10,Independence Hall,NATIONAL LANDMARKS,"'Site where John Hancock signed his ""John Hanc...",Double Jeopardy!,1,$800,site where john hancock signed his john hancock,independence hall,800,0.000000,0.000000,0
2,1984-09-10,the love of money,THE BIBLE,"'According to 1st Timothy, it is the ""root of ...",Double Jeopardy!,1,$1000,according to 1st timothy it is the root of all...,the love of money,1000,0.333333,0.000000,1
3,1984-09-10,Mr. Wizard,'50'S TV,'Name under which experimenter Don Herbert tau...,Double Jeopardy!,1,$1000,name under which experimenter don herbert taug...,mr wizard,1000,0.000000,0.000000,1
4,1984-09-10,the Capitol,NATIONAL LANDMARKS,'D.C. building shaken by November '83 bomb blast',Double Jeopardy!,1,$1000,dc building shaken by november 83 bomb blast,the capitol,1000,0.000000,0.000000,1
5,1984-09-10,John Wilkes Booth,NOTORIOUS,"'After the deed, he leaped to the stage shouti...",Double Jeopardy!,1,$1000,after the deed he leaped to the stage shouting...,john wilkes booth,1000,0.000000,0.000000,1
6,1984-09-10,oath,4-LETTER WORDS,'The president takes one before stepping into ...,Double Jeopardy!,1,$1000,the president takes one before stepping into o...,oath,1000,0.000000,0.000000,1
7,1984-09-10,Martin Luther King Day,HOLIDAYS,'The third Monday of January starting in 1986',Final Jeopardy!,1,None,the third monday of january starting in 1986,martin luther king day,0,0.000000,0.000000,0
8,1984-09-10,Sean Connery,ACTORS & ROLES,"'He may ""Never Say Never Again"" when asked to ...",Jeopardy!,1,$300,he may never say never again when asked to be ...,sean connery,300,0.000000,0.000000,0
9,1984-09-10,a blintz,FOREIGN CUISINE,'Jewish crepe filled with cheese',Jeopardy!,1,$300,jewish crepe filled with cheese,a blintz,300,0.000000,0.000000,0
10,1984-09-10,what,4-LETTER WORDS,"'It's the first 4-letter word in ""The Star Spa...",Double Jeopardy!,1,"$1,000",its the first 4letter word in the star spangle...,what,1000,0.000000,0.000000,1
11,1984-09-10,the Missouri,LAKES & RIVERS,'American river only 33 miles shorter than the...,Jeopardy!,1,$400,american river only 33 miles shorter than the ...,the missouri,400,0.000000,0.000000,0
12,1984-09-10,the Volga River,LAKES & RIVERS,"'River in <a href=""http://www.j-archive.com/me...",Jeopardy!,1,$800,river in a hrefhttpwwwjarchivecommedia19840910...,the volga river,800,0.500000,0.000000,0
13,1984-09-10,rats,ANIMALS,'These rodents first got to America by stowing...,Jeopardy!,1,$100,these rodents first got to america by stowing ...,rats,100,0.000000,0.000000,0
14,1984-09-10,chicken,FOREIGN CUISINE,"'The ""coq"" in coq au vin'",Jeopardy!,1,$100,the coq in coq au vin,chicken,100,0.000000,0.000000,0
15,1984-09-10,"""Thriller""",ACTORS & ROLES,'Video in which Michael Jackson plays a werewo...,Jeopardy!,1,$100,video in which michael jackson plays a werewol...,thriller,100,0.000000,0.000000,0
16,1984-09-10,loch,LAKES & RIVERS,'Scottish word for lake',Jeopardy!,1,$200,scottish word for lake,loch,200,0.000000,0.000000,0
17,1984-09-10,freezing,INVENTIONS,'A 1920's hunting trip to Canada inspired Bird...,Jeopardy!,1,$300,a 1920s hunting trip to canada inspired birdse...,freezing,300,0.000000,0.000000,0
18,1984-09-10,the trunk,ANIMALS,"'There are about 40,000 muscles & tendons in t...",Jeopardy!,1,$200,there are about 40000 muscles tendons in this...,the trunk,200,0.000000,0.000000,0
19,1984-09-10,sausage,FOREIGN CUISINE,"'A British variety is called ""bangers"", a Mexi...",Jeopardy!,1,$200,a british variety is called bangers a mexican ...,sausage,200,0.000000,0.000000,0
20,1984-09-10,Dan Aykroyd & Eddie Murphy,ACTORS & ROLES,"'2 ""Saturday Night"" alumni who tried ""Trading ...",Jeopardy!,1,$200,2 saturday night alumni who tried trading places,dan aykroyd eddie murphy,200,0.000000,0.000000,0
21,1984-09-10,the rickshaw,INVENTIONS,"'In 1869 an American minister created this ""or...",Jeopardy!,1,$200,in 1869 an american minister created this orie...,the rickshaw,200,0.000000,0.200000,0
22,1984-09-10,the radio,INVENTIONS,'Marconi's wonderful wireless',Jeopardy!,1,$100,marconis wonderful wireless,the radio,100,0.000000,0.000000,0
23,1984-09-10,Eve Arden,'50'S TV,"'She was ""Our Miss Brooks""'",Double Jeopardy!,1,$400,she was our miss brooks,eve arden,400,0.000000,0.000000,0
24,1984-09-10,weasel,ANIMALS,"'When husbands ""pop"" for an ermine coat, they'...",Jeopardy!,1,$300,when husbands pop for an ermine coat theyre ac...,weasel,300,0.000000,0.000000,0
25,1984-09-10,Nero,NOTORIOUS,"'It was probably a lyre, not a fiddle, if he p...",Double Jeopardy!,1,$200,it was probably a lyre not a fiddle if he play...,nero,200,0.000000,0.000000,0
26,1984-09-10,Jerusalem,THE BIBLE,"'Though its name means ""city of peace"", it's s...",Double Jeopardy!,1,$800,though its name means city of peace its seen o...,jerusalem,800,0.000000,0.000000,0
27,1984-09-10,the Statue of Liberty,NATIONAL LANDMARKS,'She came from France to harbor America's free...,Double Jeopardy!,1,$200,she came from france to harbor americas freedom,the statue of liberty,200,0.000000,0.000000,0
28,1984-09-10,private eyes (or private detectives),'50'S TV,"'Occupation of Richard Diamond, Peter Gunn & M...",Double Jeopardy!,1,$200,occupation of richard diamond peter gunn mike...,private eyes or private detectives,200,0.000000,0.000000,0
29,1984-09-10,the walls,THE BIBLE,"'When ""Joshua Fit The Battle Of Jericho"", thes...",Double Jeopardy!,1,$200,when joshua fit the battle of jericho these to...,the walls,200,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
216900,2012-01-27,Kristen Stewart,CHILD ACTORS,"'At age 11, this future portrayer of Bella Swa...",Jeopardy!,6300,$600,at age 11 this future portrayer of bella swan ...,kristen stewart,600,0.000000,1.000000,0
216901,2012-01-27,"""America the Beautiful""",STUPID ANSWERS,'The second verse of this classic American son...,Jeopardy!,6300,$800,the second verse of this classic american song...,america the beautiful,800,0.500000,1.000000,0
216902,2012-01-27,the Capitol,STUPID ANSWERS,'This building in our national capital was ori...,Jeopardy!,6300,$400,this building in our national capital was orig...,the capitol,400,0.000000,1.000000,0
216903,2012-01-27,rein,THE TRUTH LIES THEREIN,'Colt controller',Jeopardy!,6300,$800,colt controller,rein,800,0.000000,1.000000,0
216904,2012-01-27,Pakistan,PANTS,'The baggy shalwar is always in fashion in thi...,Jeopardy!,6300,$1000,the baggy shalwar is always in fashion in this...,pakistan,1000,0.000000,0.857143,1
216905,2012-01-27,W. C. Fields,CHILD ACTORS,'In the 1930s Baby LeRoy played opposite this ...,Jeopardy!,6300,$1000,in the 1930s baby leroy played opposite this c...,w c fields,1000,0.000000,1.000000,1
216906,2012-01-27,ere,THE TRUTH LIES THEREIN,'A palindromic preposition of the past',Jeopardy!,6300,$1000,a palindromic preposition of the past,ere,1000,0.000000,1.000000,1
216907,2012-01-27,digitalis (or digoxin),LESSER-KNOWN SCIENTISTS,'In 1785 William Withering suggested using thi...,Jeopardy!,6300,$1000,in 1785 william withering suggested using this...,digitalis or digoxin,1000,0.000000,1.000000,1
216908,2012-01-27,Seville,VISITING THE CITY,'Arriving at the train station built for the 1...,Jeopardy!,6300,$1000,arriving at the train station built for the 19...,seville,1000,0.000000,0.857143,1
216909,2012-01-27,Elliott,CHILD ACTORS,"'Henry Thomas, who played this role in ""E.T."",...",Jeopardy!,6300,$200,henry thomas who played this role in et turned...,elliott,200,0.000000,1.000000,0
216910,2012-01-27,Central Park West,STUPID ANSWERS,"'On the west, Central Park is bounded by this ...",Jeopardy!,6300,$200,on the west central park is bounded by this st...,central park west,200,1.000000,1.000000,0
216911,2012-01-27,Miami,VISITING THE CITY,"'Experience Little Havana along Calle Ocho, th...",Jeopardy!,6300,$200,experience little havana along calle ocho then...,miami,200,0.000000,0.800000,0
216912,2012-01-27,the Mosquito Coast,STUPID ANSWERS,'The Mosquito Indians are a majority populatio...,Jeopardy!,6300,$1000,the mosquito indians are a majority population...,the mosquito coast,1000,0.500000,1.000000,1
216913,2012-01-27,the metric system,LESSER-KNOWN SCIENTISTS,'Joseph Lagrange insisted on 10 as the basic u...,Jeopardy!,6300,$800,joseph lagrange insisted on 10 as the basic un...,the metric system,800,0.500000,0.777778,0
216914,2012-01-27,plus fours,PANTS,"'When introduced, these wide, baggy pants were...",Jeopardy!,6300,$600,when introduced these wide baggy pants were 4 ...,plus fours,600,0.000000,0.800000,0
216915,2012-01-27,M,STUPID ANSWERS,'This was first imprinted in black on individu...,Jeopardy!,6300,$600,this was first imprinted in black on individua...,m,600,0.000000,1.000000,0
216916,2012-01-27,here,THE TRUTH LIES THEREIN,"'Old school GPS on a shopping mall map: ""You ...",Jeopardy!,6300,$400,old school gps on a shopping mall map you are...,here,400,0.000000,1.000000,0
216917,2012-01-27,Jaden Smith,CHILD ACTORS,"'This kid, with a familiar last name, is seen ...",Jeopardy!,6300,$800,this kid with a familiar last name is seen a h...,jaden smith,800,0.000000,0.500000,0
216918,2012-01-27,toreador pants,PANTS,'Tight-fitting pants patterned after those wor...,Jeopardy!,6300,"$1,400",tightfitting pants patterned after those worn ...,toreador pants,1400,0.500000,1.000000,1
216919,2012-01-27,Sydney,VISITING THE CITY,'There's a great opera house on Bennelong Poin...,Jeopardy!,6300,$800,theres a great opera house on bennelong point ...,sydney,800,0.000000,1.000000,0
216920,2012-01-27,a compass,LESSER-KNOWN SCIENTISTS,'Gowin Knight's 1745 development of a better w...,Jeopardy!,6300,$600,gowin knights 1745 development of a better way...,a compass,600,0.500000,0.875000,0
216921,2012-01-27,There,THE TRUTH LIES THEREIN,"'Old school CBS history show: ""You Are"" this'",Jeopardy!,6300,$600,old school cbs history show you are this,there,600,0.000000,1.000000,0
216922,2012-01-27,photosynthesis,LESSER-KNOWN SCIENTISTS,'In 1779 Dutch scientist Jan Ingenhousz publis...,Jeopardy!,6300,$200,in 1779 dutch scientist jan ingenhousz publish...,photosynthesis,200,0.000000,0.833333,0
216923,2012-01-27,He,THE TRUTH LIES THEREIN,'Symbol for the second-lightest element',Jeopardy!,6300,$200,symbol for the secondlightest element,he,200,0.000000,1.000000,0
216924,2012-01-27,Toronto,VISITING THE CITY,"'First the Royal Ontario Museum, then for lunc...",Jeopardy!,6300,$400,first the royal ontario museum then for lunch ...,toronto,400,0.000000,1.000000,0
216925,2012-01-27,luau pants,PANTS,'Calf-length pants styled in colorful island p...,Jeopardy!,6300,$400,calflength pants styled in colorful island pri...,luau pants,400,0.500000,1.000000,0
216926,2012-01-27,The Brady Bunch,CHILD ACTORS,"'Scott Lookinland played his father, Mike, in ...",Jeopardy!,6300,$400,scott lookinland played his father mike in the...,the brady bunch,400,0.000000,0.800000,0
216927,2012-01-27,aluminum,LESSER-KNOWN SCIENTISTS,"'The ""crown jewels"" of Alcoa are the bits of t...",Jeopardy!,6300,$400,the crown jewels of alcoa are the bits of this...,aluminum,400,0.000000,1.000000,0
216928,2012-01-27,Salzburg,VISITING THE CITY,"'Take the ""Sound of Music"" tour or visit the H...",Jeopardy!,6300,$600,take the sound of music tour or visit the hage...,salzburg,600,0.000000,1.000000,0
216929,2012-01-27,cargo pants,PANTS,"'A synonym for freight, or pants with large be...",Jeopardy!,6300,$200,a synonym for freight or pants with large bell...,cargo pants,200,0.500000,0.833333,0

In [27]:
def word_count(word):
    low_count = 0
    high_count = 0
    for i, row in jeopardy.iterrows():
        split_question = row['clean_question'].split(" ")
        if word in split_question:
            if row['high_value'] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count


observed_expected = []
comparison_terms = list(terms_used)[:5]
for term in comparison_terms:
    result = word_count(term)
    observed_expected.append(result)

In [28]:
observed_expected

[(0, 5), (0, 2), (0, 1), (0, 1), (0, 1)]

In [29]:
high_value_count = jeopardy[jeopardy["high_value"] == 1].shape[0]
low_value_count = jeopardy[jeopardy["high_value"] == 0].shape[0]

chi_squared = []
for obs in observed_expected:
    total = sum(obs)
    total_prop = total / jeopardy.shape[0]
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    
    observed = np.array([obs[0], obs[1]])
    expected = np.array([high_value_exp, low_value_exp])
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=1.974882321166757, pvalue=0.15993058334750943),
 Power_divergenceResult(statistic=0.7899529284667026, pvalue=0.3741143592744989),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695)]

Statistical Test Result (Chi-Square)

None of the terms had a significant difference in usage between high value and low value rows.